<h1>Welcome <%= @contact.name %></h1>
  <p>
    You have successfully contacted Princetonevans.com. You be will contacted within 24 hours.
   <br>
  </p>
<p>Thanks for joining and have a great day!</p>