<h1>Welcome to Princetonevans.com, <%= @contact.name %></h1>
  <p>
    You have successfully created an inquiry, You will contacted soon.
    your username is: <%= @contact.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>