<div>
  <h1 style="text-align: center; background-color: #004FFF; color: white;"><a href="https://www.envizn.io" style="color: inherit; text-decoration: none; ">Envizn.io</a></h1>
</div>

<div>
  <p>Hello <%= @contact.name %>,</p>
</div>

<div>
  <p>You have successfully submitted an inquiry with Envizn.io. Please allow 24 - 48 hours for a response from our team.</p>
</div>