<h1>Hey Boss,  <%= @contact.name %> has sent a new Inquiry</h1>
   <br>
   <p>Email: <%=  @contact.email%> </p>
   <br>
   <p>Description: <%=  @contact.description%> </p>
   <br>
   <p>Phone: <%=  @contact.phone%> </p>
   <br>
<p>Ching Ching get to the money!</p>